@model cours1test.Models.Fanfic

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Чтение фанфика</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="/css/all.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="readfic-info">

            @*@{Console.WriteLine(Model.Title);}*@
            <h1 class="fanfic-name">@Model.Title </h1>

            @*<a class="nav-link font-italic" asp-controller="Fanfiction" asp-action="Books" asp-route-id="@Model.Fandom.ID">@Model.Fandom.Titile</a>*@

            @if (Model.Chapters.Count() > 0 && User.IsInRole("admin"))
            {
                <a class="btn btn-primary" asp-controller="Fanfic" asp-action="EditFanfic" asp-route-id="@Model.ID" role="button">Редактировать фанфик</a>

            }
            <p class="author-name-link"><b>Автор:</b><a class="nav-link font-italic" asp-controller="Fanfiction" asp-action="Authors" asp-route-id="@Model.Author.Id">@Model.Author.UserName</a></p>


            <h3>Размер документа:</h3>
            <p>Главы: @Model.Chapters.Count()</p>
            <h3>Описание:</h3>
            <p>@Model.Description</p>
            @if (User.Identity.IsAuthenticated)
            {


                @if (Model.inBookmarks == false)
                {
                    <a asp-route-fanficId="@Model.ID" asp-action="AddBookmark" asp-controller="Fanfic" class="btn btn-success text-white"><i class="far fa-bookmark"></i> Добавить в закладки</a>

                }
                else
                {
                    <a asp-route-fanficId="@Model.ID" asp-action="RemoveBookmark" asp-controller="Fanfic" class="btn btn-success text-white"><i class="fas fa-bookmark"></i> В закладках</a>

                }

                <a onclick="showInPopup('@Url.Action("AddComment","Fanfic", new  { @fanficId = Model.ID} ,Context.Request.Scheme)','Комментарий')" class="btn btn-success text-white"><i class="fas fa-random"></i>Написать комментарий</a>
                <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.isLiked == false)
                {
                    <a class="btn btn-primary" asp-action="ClickLike" asp-controller="Fanfic" asp-route-fanficId="@Model.ID" role="button">

                        @if (Model.Likes != null)
                        {
                            <i><i class="far fa-thumbs-up"></i> @Model.Likes.Count() Нравится</i>
                        }
                        else
                        {
                            <i> <i class="far fa-thumbs-up"></i> 0 Нравится</i>
                        }


                    </a>
                }
                else
                {

                    <a class="btn btn-primary" asp-action="ClickDislike" asp-controller="Fanfic" asp-route-fanficId="@Model.ID" role="button">

                        @try
                        {
                            <i><i class="fas fa-thumbs-up"></i> @Model.Likes.Count() Нравится</i>
                        }
                        catch
                        {
                            <i><i class="fas fa-thumbs-up"></i> 0 Нравится</i>
                        }



                    </a>
                }

            }



            <br /><br />
            @{
                if (Model.Chapters != null)
                {
                    foreach (Chapter chapter in Model.Chapters)
                    {
                        <hr>
                        <h2>@chapter.CName</h2>
                        @chapter.CText
                    }

                }
                else
                {
                    <h2>Глав не найдено</h2>
                }
            }

            <br /><br />
            <h2>Комментарии:</h2>
            <br />
            @{
                if (Model.Comments != null)
                {
                    foreach (Comment comment in Model.Comments)
                    {
                        <h2>
                            <a class="font-weight-bold" asp-action="Authors" asp-controller="Fanfiction" asp-route-id="@comment.UserId">@comment.UserName</a>

                        </h2>
                        <span class="border ">@comment.Content</span>
                    }

                }
                else
                {
                    <h2><i>Пока нет комментариев</i></h2>
                }
            }
        </div>

    </div>

</body>
</html>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}